If:
  PathMatch: 
    - *.cpp
    - *.c
    - *.h
    - *.hpp

CompileFlags:
  Add:
    - -I./
    - -I./deps/glad/include
    - -I./deps/glfw/include
    - -I./deps/googletest/googletest/include
    - -I./deps/googletest/googlemock/include
